@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%
}

input, textarea {
  max-width: 100%
}

/** Links */
a{
  text-decoration: none;
}
a, a:active, a:visited {
  color: #4ED098;
}
a:hover {
  text-decoration: underline;
}

.missing-query {
  text-align: center;
}

/** Logo */
.logo {
  width: 100%;
  height: 20%;
}

.page-home.logo {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page-search.logo {
  height: 10%;
}

.logo img {
    display: block;
    margin: 0 auto;
}

/** Search */
.search {
  width: 100%;
  position: relative
}

.search-term {
  float: left;
  width: 100%;
  border: 3px solid #4ED098;
  padding: 5px;
  height: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  color: #4ED098;
}

.search-term:focus {
  color: #00B4CC;
}

.search-button {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #4ED098;
  background: #4ED098;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/** Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal .modal-window {
  background-color: #EEE;
  margin: 10% auto;
  
  /* -webkit-transform: translate(10%, 100%); */
  /* -moz-transform: translate(10%, 100%); */
  /* transform: translate(10%, 100%); */

  padding: 1em;
  border: 1px solid #888;
  width: 80%;
  max-height: 80%;
}

/* The Close Button */
.modal .modal-window .modal-window-tools {
  display: block;
  width: 100%;
  color: #BBB;
  font-size: 1em;
  font-weight: bold;
  text-align: right;
}

.modal .modal-window .modal-window-tools .modal-window-tool {
  display: inline-block;
  margin: 0.125em;
}

.modal .modal-window .modal-window-tools .modal-window-tool:hover,
.modal .modal-window .modal-window-tools .modal-window-tool:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-window .modal-content {
  margin-top: 1em;
}

/** Results */
.result-list {
  width: 80%;
  margin: 0 auto;
}

.result-list .result-list-item {
  width: 100%;
  margin: 0.25em;
  padding: 0.25em;
  text-align: center;
  border: 0.075em solid #4ED098;
  background: #FFF;
}

.result-list .result-list-item:hover {
  cursor: pointer;
  background: #E6FFE4;
  border-color: #CCC;
}

/** Result */
.gym-info {
  text-align: center;
}

a.external-link {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.gym-info-notes label {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.50em;
  font-size: 1.25em;
  font-weight: bold;
}